<%=  form_for([@project,@ticket] ) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="field my-3">
      <%= form.label :title %><br />
      <%= form.text_field :title ,{class:'form-control'} %>
    </div>
    <div class="field my-3">
      <%= form.label :description %><br />
      <%= form.text_area :description ,{class:'form-control'} %>
    </div>
    
<div class="row my-3">
<div class="field col ">
      <%= form.label :status %><br />
      <%= form.select :status, ["ToDo", "InProgress", "Done"] , class:'form-select'%>
    </div>
    <div class="field col">
      <%= form.label :due_date %><br />
      <%= form.date_field :due_date,{class:'form-control'}%>
    </div>
    <div class="field col">
      <%= form.label :attachment %>
      <%= form.file_field :attachment , multiple: true,class:'form-control'%>
      </div>
      </div>
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
