<p style="color: green"><%= notice %></p>
<div class="row d-flex">
<h1 class="col">Projects</h1>
<div class="col-2">
<%= link_to "New project", new_project_path ,{class:" btn btn-primary "}%>
</div>

</div>

<div id="projects" class="row">

<div class="container col"><h1>Created Projects</h1>
  <% @projects.each do |project| %>
    <%= render project %>

    <p>
      <%= link_to "Show this project", project,{class:" btn btn-primary "} %>
    </p>
  <% end %></div>
<div class="container col">
 <h1>Shared Projects</h1>
  <% @shared_projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project,{class:" btn btn-primary "} %>
    </p>
  <% end %></div>


 
</div>

