<p style="color: green"><%= notice %></p>
<div class="row my-3 d-flex ">
  <h1 class="col ">Projects</h1>
  <div class="col d-flex justify-content-end">
    <%= link_to "New project", new_project_path ,{class:" btn btn-primary my-auto p-auto"}%>
  </div>
</div>
<div id="projects" class="row w-100">
  <div class="col mr-1">
    <h1>Created Projects</h1>
    <% @projects.each do |project|%>
      <div class="row card card-body bg-light ">
        <h4 class="" >
          <%=link_to project.title , project_path(project),{class:"text-dark"}%>
          <h6 class="text-muted "><%= project.created_at%></h6>
        </h4>
      </div>
    <%end%>
  </div>
  <div class="container col ml-1">
    <h1>Shared Projects</h1>
    <% @shared_projects.each do |project| %>
      <div class="row card card-body bg-light ">
        <h4 class="" >
          <%=link_to project.title , project_path(project),{class:"text-dark"}%>
          <h6 class="text-muted "><%= project.created_at%></h6>
        </h4>
      </div>
    <% end %>
  </div>
</div>
