<p style="color: green"><%= notice %></p>
<%= render @project %>
<div class="">
  <%= @project.title%>
  <%= @project.description%>
  <%= User.find(@project.users_id).email%>

  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>
  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
